@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.auth {
  min-height: 100vh;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(244 247 254 / var(--tw-bg-opacity));
  display: flex;
  align-items: center;
  justify-content: center;
}

.cl-internal-b3fm6y {
  display: none !important;
}

.cl-userButtonPopoverFooter {
  display: none !important;
}

/* [data-column-id="Keyword"].rdt_TableCol {
  background-color: transparent !important;
} */

.rdt_TableHeader {
  background-color: transparent !important;
}

.ContentEditorDataTableWrapper > header,
.ContentEditorDataTableWrapper .rdt_Table,
.ContentEditorDataTableWrapper .rdt_Pagination,
.ContentEditorDataTableWrapper .rdt_Table > div,
.ContentEditorDataTableWrapper .rdt_Table .rdt_TableHeadRow,
.ContentEditorDataTableWrapper .rdt_Table .rdt_TableRow {
  background-color: transparent !important;
  @apply dark:text-white;
}

.cl-userButton-popover {
  @apply dark:border-strokedark;
  @apply dark:bg-meta-4;
  @apply dark:text-white;
}

.cl-userPreviewSecondaryIdentifier__userButton,
.cl-userButtonPopoverActionButtonText,
.cl-userButtonPopoverActionButtonText,
.cl-userButtonPopoverActionButtonIcon,
.cl-headerTitle,
.cl-headerSubtitle,
.cl-profileSectionTitleText,
.cl-userPreviewMainIdentifier > span,
.cl-profileSectionContent__username > p,
.cl-navbarButton {
  @apply dark:text-white;
}

.cl-internal-rx251b {
  @apply dark:border-strokedark;
  @apply dark:bg-meta-4;
  @apply dark:text-white;
}

.rdt_Pagination button {
  @apply dark:text-white;
  @apply dark:fill-white;
}

.bg-transparent {
  background-color: transparent;
}

.MuiDrawer-paper,
.ql-snow .ql-picker-options {
  @apply dark:bg-meta-4;
}

.ql-snow .ql-picker.ql-font .ql-picker-label::before,
.ql-snow .ql-picker.ql-font .ql-picker-item::before,
.ql-snow .ql-picker.ql-header .ql-picker-label::before,
.ql-snow .ql-picker.ql-header .ql-picker-item::before,
.ql-snow .ql-picker.ql-size .ql-picker-label::before,
.ql-snow .ql-picker.ql-size .ql-picker-item::before,
.MuiTypography-root {
  @apply dark:text-white;
}

.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  @apply dark:fill-white;
}

.ql-snow .ql-stroke {
  @apply dark:fill-white;
  @apply dark:stroke-white;
}
