.elementor-1064 .elementor-element.elementor-element-dfcd4c8 {
  padding: 30px 0;
}
.elementor-bc-flex-widget
  .elementor-1064
  .elementor-element.elementor-element-4c0c42f.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1064
  .elementor-element.elementor-element-4c0c42f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1064 .elementor-element.elementor-element-982c581 {
  text-align: left;
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
}
.elementor-1064 .elementor-element.elementor-element-982c581 .wpr-logo {
  padding: 0;
  border-radius: 0 0 0 0;
}
.elementor-1064 .elementor-element.elementor-element-982c581 .wpr-logo-image {
  max-width: 500px;
}
.elementor-1064
  .elementor-element.elementor-element-982c581.wpr-logo-position-left
  .wpr-logo-image {
  margin-right: 0;
}
.elementor-1064
  .elementor-element.elementor-element-982c581.wpr-logo-position-right
  .wpr-logo-image {
  margin-left: 0;
}
.elementor-1064
  .elementor-element.elementor-element-982c581.wpr-logo-position-center
  .wpr-logo-image {
  margin-bottom: 0;
}
.elementor-1064
  .elementor-element.elementor-element-982c581
  .wpr-logo-image
  img {
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
.elementor-1064 .elementor-element.elementor-element-982c581 .wpr-logo-title {
  color: #605be5;
  margin: 0 0 0;
}
.elementor-1064
  .elementor-element.elementor-element-982c581
  .wpr-logo-description {
  color: #888;
}
.elementor-bc-flex-widget
  .elementor-1064
  .elementor-element.elementor-element-379583c.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1064
  .elementor-element.elementor-element-379583c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-menu-item.wpr-pointer-item {
  transition-duration: 0.5s;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-menu-item.wpr-pointer-item:before {
  transition-duration: 0.5s;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-menu-item.wpr-pointer-item:after {
  transition-duration: 0.5s;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-toggle-wrap {
  text-align: center;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-nav-menu
  .wpr-menu-item,
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-nav-menu
  > .menu-item-has-children
  > .wpr-sub-icon {
  color: #343f5a;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-nav-menu
  .wpr-menu-item:hover,
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-nav-menu
  > .menu-item-has-children:hover
  > .wpr-sub-icon,
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-nav-menu
  .wpr-menu-item.wpr-active-menu-item,
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-nav-menu
  > .menu-item-has-children.current_page_item
  > .wpr-sub-icon {
  color: #4f80ff;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09.wpr-pointer-line-fx
  .wpr-menu-item:before,
.elementor-1064
  .elementor-element.elementor-element-e524d09.wpr-pointer-line-fx
  .wpr-menu-item:after {
  background-color: #4f80ff;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09.wpr-pointer-border-fx
  .wpr-menu-item:before {
  border-color: #4f80ff;
  border-width: 2px;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09.wpr-pointer-background-fx
  .wpr-menu-item:before {
  background-color: #4f80ff;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .menu-item-has-children
  .wpr-sub-icon {
  font-size: 14px;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09.wpr-pointer-background:not(
    .wpr-sub-icon-none
  )
  .wpr-nav-menu-horizontal
  .menu-item-has-children
  .wpr-pointer-item {
  padding-right: calc(14px + 7px);
}
.elementor-1064
  .elementor-element.elementor-element-e524d09.wpr-pointer-border:not(
    .wpr-sub-icon-none
  )
  .wpr-nav-menu-horizontal
  .menu-item-has-children
  .wpr-pointer-item {
  padding-right: calc(14px + 7px);
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-nav-menu
  .wpr-menu-item,
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-nav-menu
  a,
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-toggle-text {
  font-family: poppins, Sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09.wpr-pointer-underline
  .wpr-menu-item:after,
.elementor-1064
  .elementor-element.elementor-element-e524d09.wpr-pointer-overline
  .wpr-menu-item:before,
.elementor-1064
  .elementor-element.elementor-element-e524d09.wpr-pointer-double-line
  .wpr-menu-item:before,
.elementor-1064
  .elementor-element.elementor-element-e524d09.wpr-pointer-double-line
  .wpr-menu-item:after {
  height: 2px;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-nav-menu
  .wpr-menu-item {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09.wpr-pointer-background:not(
    .wpr-sub-icon-none
  )
  .wpr-nav-menu-vertical
  .menu-item-has-children
  .wpr-sub-icon {
  text-indent: -7px;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09.wpr-pointer-border:not(
    .wpr-sub-icon-none
  )
  .wpr-nav-menu-vertical
  .menu-item-has-children
  .wpr-sub-icon {
  text-indent: -7px;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-nav-menu
  > .menu-item {
  margin-left: 10px;
  margin-right: 10px;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-nav-menu-vertical
  .wpr-nav-menu
  > li
  > .wpr-sub-menu {
  margin-left: 10px;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09.wpr-main-menu-align-left
  .wpr-nav-menu-vertical
  .wpr-nav-menu
  > li
  > .wpr-sub-icon {
  right: 10px;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09.wpr-main-menu-align-right
  .wpr-nav-menu-vertical
  .wpr-nav-menu
  > li
  > .wpr-sub-icon {
  left: 10px;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-sub-menu
  .wpr-sub-menu-item,
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-sub-menu
  > .menu-item-has-children
  .wpr-sub-icon {
  color: #333;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-sub-menu
  .wpr-sub-menu-item {
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-sub-menu
  .wpr-sub-menu-item:hover,
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-sub-menu
  > .menu-item-has-children
  .wpr-sub-menu-item:hover
  .wpr-sub-icon,
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-sub-menu
  .wpr-sub-menu-item.wpr-active-menu-item,
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-sub-menu
  > .menu-item-has-children.current_page_item
  .wpr-sub-icon {
  color: #fff;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-sub-menu
  .wpr-sub-menu-item:hover,
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-sub-menu
  .wpr-sub-menu-item.wpr-active-menu-item {
  background-color: #605be5;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-sub-menu
  .wpr-sub-icon {
  right: 15px;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09.wpr-main-menu-align-right
  .wpr-nav-menu-vertical
  .wpr-sub-menu
  .wpr-sub-icon {
  left: 15px;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-nav-menu-horizontal
  .wpr-nav-menu
  > li
  > .wpr-sub-menu {
  margin-top: 0;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09.wpr-sub-divider-yes
  .wpr-sub-menu
  li:not(:last-child) {
  border-bottom-color: #e8e8e8;
  border-bottom-width: 1px;
}
.elementor-1064 .elementor-element.elementor-element-e524d09 .wpr-sub-menu {
  border-style: solid;
  border-width: 1px;
  border-color: #e8e8e8;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-nav-menu
  a,
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-nav-menu
  .menu-item-has-children
  > a:after {
  color: #333;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-nav-menu
  li {
  background-color: #fff;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-nav-menu
  li
  a:hover,
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-nav-menu
  .menu-item-has-children
  > a:hover:after,
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-nav-menu
  li
  a.wpr-active-menu-item,
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-nav-menu
  .menu-item-has-children.current_page_item
  > a:hover:after {
  color: #fff;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-nav-menu
  a:hover,
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-nav-menu
  a.wpr-active-menu-item {
  background-color: #4f80ff;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-nav-menu
  a {
  padding-left: 10px;
  padding-right: 10px;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-nav-menu
  .menu-item-has-children
  > a:after {
  margin-left: 10px;
  margin-right: 10px;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-nav-menu
  .wpr-mobile-menu-item {
  padding-top: 10px;
  padding-bottom: 10px;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09.wpr-mobile-divider-yes
  .wpr-mobile-nav-menu
  a {
  border-bottom-color: #e8e8e8;
  border-bottom-width: 1px;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-nav-menu
  .wpr-mobile-sub-menu-item {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-nav-menu {
  margin-top: 10px;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-toggle {
  border-color: #343f5a;
  width: 50px;
  border-width: 0;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-toggle-text {
  color: #343f5a;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-toggle-line {
  background-color: #343f5a;
  height: 2px;
  margin-bottom: 6px;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-toggle:hover {
  border-color: #4f80ff;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-toggle:hover
  .wpr-mobile-toggle-text {
  color: #4f80ff;
}
.elementor-1064
  .elementor-element.elementor-element-e524d09
  .wpr-mobile-toggle:hover
  .wpr-mobile-toggle-line {
  background-color: #4f80ff;
}
.elementor-bc-flex-widget
  .elementor-1064
  .elementor-element.elementor-element-7085c34.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1064
  .elementor-element.elementor-element-7085c34.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1064 .elementor-element.elementor-element-657c43e .wpr-button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  background-color: #3d73ff00;
  border-color: #3d73ff;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px 4px 4px 4px;
}
.elementor-1064
  .elementor-element.elementor-element-657c43e
  .wpr-button::before {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-1064
  .elementor-element.elementor-element-657c43e
  .wpr-button::after {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  color: #fff;
  padding: 10px;
}
.elementor-1064
  .elementor-element.elementor-element-657c43e
  .wpr-button
  .wpr-button-icon {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.elementor-1064
  .elementor-element.elementor-element-657c43e
  .wpr-button
  .wpr-button-icon
  svg {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.elementor-1064
  .elementor-element.elementor-element-657c43e
  .wpr-button
  .wpr-button-text {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-1064
  .elementor-element.elementor-element-657c43e
  .wpr-button
  .wpr-button-content {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.elementor-1064 .elementor-element.elementor-element-657c43e .wpr-button-wrap {
  max-width: 173px;
}
.elementor-1064 .elementor-element.elementor-element-657c43e {
  text-align: right;
}
.elementor-1064
  .elementor-element.elementor-element-657c43e
  .wpr-button-content {
  -webkit-justify-content: center;
  justify-content: center;
}
.elementor-1064 .elementor-element.elementor-element-657c43e .wpr-button-text {
  -webkit-justify-content: center;
  justify-content: center;
  color: #3d73ff;
}
.elementor-1064 .elementor-element.elementor-element-657c43e .wpr-button-icon {
  font-size: 18px;
}
.elementor-1064
  .elementor-element.elementor-element-657c43e
  .wpr-button-icon
  svg {
  width: 18px;
  height: 18px;
}
.elementor-1064
  .elementor-element.elementor-element-657c43e.wpr-button-icon-position-left
  .wpr-button-icon {
  margin-right: 12px;
}
.elementor-1064
  .elementor-element.elementor-element-657c43e.wpr-button-icon-position-right
  .wpr-button-icon {
  margin-left: 12px;
}
.elementor-1064
  .elementor-element.elementor-element-657c43e.wpr-button-icon-style-inline
  .wpr-button-icon {
  color: #3d73ff;
}
.elementor-1064
  .elementor-element.elementor-element-657c43e.wpr-button-icon-style-inline
  .wpr-button-icon
  svg {
  fill: #3d73ff;
}
.elementor-1064 .elementor-element.elementor-element-657c43e .wpr-button-text,
.elementor-1064
  .elementor-element.elementor-element-657c43e
  .wpr-button::after {
  font-family: poppins, Sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.elementor-1064
  .elementor-element.elementor-element-657c43e
  [class*="elementor-animation"]:hover,
.elementor-1064
  .elementor-element.elementor-element-657c43e
  .wpr-button::before,
.elementor-1064
  .elementor-element.elementor-element-657c43e
  .wpr-button::after {
  background-color: #3d73ff;
}
.elementor-1064
  .elementor-element.elementor-element-657c43e
  .wpr-button:hover
  .wpr-button-text {
  color: #fff;
}
.elementor-1064
  .elementor-element.elementor-element-657c43e.wpr-button-icon-style-inline
  .wpr-button:hover
  .wpr-button-icon {
  color: #fff;
}
.elementor-1064
  .elementor-element.elementor-element-657c43e.wpr-button-icon-style-inline
  .wpr-button:hover
  .wpr-button-icon
  svg {
  fill: #fff;
}
.elementor-1064 .elementor-element.elementor-element-657c43e .wpr-button:hover {
  border-color: #3d73ff;
}
.elementor-1064
  .elementor-element.elementor-element-657c43e.wpr-button-icon-style-inline
  .wpr-button {
  padding: 10px;
}
.elementor-1064
  .elementor-element.elementor-element-657c43e.wpr-button-icon-style-block
  .wpr-button-text {
  padding: 10px;
}
.elementor-1064
  .elementor-element.elementor-element-657c43e.wpr-button-icon-style-inline-block
  .wpr-button-content {
  padding: 10px;
}
.elementor-1064 .elementor-element.elementor-element-adaefe9 {
  padding: 30px 0;
}
.elementor-bc-flex-widget
  .elementor-1064
  .elementor-element.elementor-element-6e6873e.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1064
  .elementor-element.elementor-element-6e6873e.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1064 .elementor-element.elementor-element-75767d6 {
  text-align: left;
}
.elementor-1064 .elementor-element.elementor-element-75767d6 .wpr-logo {
  padding: 0;
  border-radius: 0 0 0 0;
}
.elementor-1064 .elementor-element.elementor-element-75767d6 .wpr-logo-image {
  max-width: 135px;
}
.elementor-1064
  .elementor-element.elementor-element-75767d6.wpr-logo-position-left
  .wpr-logo-image {
  margin-right: 0;
}
.elementor-1064
  .elementor-element.elementor-element-75767d6.wpr-logo-position-right
  .wpr-logo-image {
  margin-left: 0;
}
.elementor-1064
  .elementor-element.elementor-element-75767d6.wpr-logo-position-center
  .wpr-logo-image {
  margin-bottom: 0;
}
.elementor-1064
  .elementor-element.elementor-element-75767d6
  .wpr-logo-image
  img {
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
.elementor-1064 .elementor-element.elementor-element-75767d6 .wpr-logo-title {
  color: #605be5;
  margin: 0 0 0;
}
.elementor-1064
  .elementor-element.elementor-element-75767d6
  .wpr-logo-description {
  color: #888;
}
.elementor-bc-flex-widget
  .elementor-1064
  .elementor-element.elementor-element-1563041.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-1064
  .elementor-element.elementor-element-1563041.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-menu-item.wpr-pointer-item {
  transition-duration: 0.5s;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-menu-item.wpr-pointer-item:before {
  transition-duration: 0.5s;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-menu-item.wpr-pointer-item:after {
  transition-duration: 0.5s;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-toggle-wrap {
  text-align: center;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-nav-menu
  .wpr-menu-item,
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-nav-menu
  > .menu-item-has-children
  > .wpr-sub-icon {
  color: #343f5a;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-nav-menu
  .wpr-menu-item:hover,
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-nav-menu
  > .menu-item-has-children:hover
  > .wpr-sub-icon,
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-nav-menu
  .wpr-menu-item.wpr-active-menu-item,
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-nav-menu
  > .menu-item-has-children.current_page_item
  > .wpr-sub-icon {
  color: #4f80ff;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08.wpr-pointer-line-fx
  .wpr-menu-item:before,
.elementor-1064
  .elementor-element.elementor-element-2715e08.wpr-pointer-line-fx
  .wpr-menu-item:after {
  background-color: #4f80ff;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08.wpr-pointer-border-fx
  .wpr-menu-item:before {
  border-color: #4f80ff;
  border-width: 2px;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08.wpr-pointer-background-fx
  .wpr-menu-item:before {
  background-color: #4f80ff;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .menu-item-has-children
  .wpr-sub-icon {
  font-size: 14px;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08.wpr-pointer-background:not(
    .wpr-sub-icon-none
  )
  .wpr-nav-menu-horizontal
  .menu-item-has-children
  .wpr-pointer-item {
  padding-right: calc(14px + 7px);
}
.elementor-1064
  .elementor-element.elementor-element-2715e08.wpr-pointer-border:not(
    .wpr-sub-icon-none
  )
  .wpr-nav-menu-horizontal
  .menu-item-has-children
  .wpr-pointer-item {
  padding-right: calc(14px + 7px);
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-nav-menu
  .wpr-menu-item,
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-nav-menu
  a,
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-toggle-text {
  font-family: poppins, Sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08.wpr-pointer-underline
  .wpr-menu-item:after,
.elementor-1064
  .elementor-element.elementor-element-2715e08.wpr-pointer-overline
  .wpr-menu-item:before,
.elementor-1064
  .elementor-element.elementor-element-2715e08.wpr-pointer-double-line
  .wpr-menu-item:before,
.elementor-1064
  .elementor-element.elementor-element-2715e08.wpr-pointer-double-line
  .wpr-menu-item:after {
  height: 2px;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-nav-menu
  .wpr-menu-item {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08.wpr-pointer-background:not(
    .wpr-sub-icon-none
  )
  .wpr-nav-menu-vertical
  .menu-item-has-children
  .wpr-sub-icon {
  text-indent: -7px;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08.wpr-pointer-border:not(
    .wpr-sub-icon-none
  )
  .wpr-nav-menu-vertical
  .menu-item-has-children
  .wpr-sub-icon {
  text-indent: -7px;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-nav-menu
  > .menu-item {
  margin-left: 10px;
  margin-right: 10px;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-nav-menu-vertical
  .wpr-nav-menu
  > li
  > .wpr-sub-menu {
  margin-left: 10px;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08.wpr-main-menu-align-left
  .wpr-nav-menu-vertical
  .wpr-nav-menu
  > li
  > .wpr-sub-icon {
  right: 10px;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08.wpr-main-menu-align-right
  .wpr-nav-menu-vertical
  .wpr-nav-menu
  > li
  > .wpr-sub-icon {
  left: 10px;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-sub-menu
  .wpr-sub-menu-item,
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-sub-menu
  > .menu-item-has-children
  .wpr-sub-icon {
  color: #333;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-sub-menu
  .wpr-sub-menu-item {
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-sub-menu
  .wpr-sub-menu-item:hover,
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-sub-menu
  > .menu-item-has-children
  .wpr-sub-menu-item:hover
  .wpr-sub-icon,
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-sub-menu
  .wpr-sub-menu-item.wpr-active-menu-item,
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-sub-menu
  > .menu-item-has-children.current_page_item
  .wpr-sub-icon {
  color: #fff;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-sub-menu
  .wpr-sub-menu-item:hover,
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-sub-menu
  .wpr-sub-menu-item.wpr-active-menu-item {
  background-color: #605be5;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-sub-menu
  .wpr-sub-icon {
  right: 15px;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08.wpr-main-menu-align-right
  .wpr-nav-menu-vertical
  .wpr-sub-menu
  .wpr-sub-icon {
  left: 15px;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-nav-menu-horizontal
  .wpr-nav-menu
  > li
  > .wpr-sub-menu {
  margin-top: 0;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08.wpr-sub-divider-yes
  .wpr-sub-menu
  li:not(:last-child) {
  border-bottom-color: #e8e8e8;
  border-bottom-width: 1px;
}
.elementor-1064 .elementor-element.elementor-element-2715e08 .wpr-sub-menu {
  border-style: solid;
  border-width: 1px;
  border-color: #e8e8e8;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-nav-menu
  a,
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-nav-menu
  .menu-item-has-children
  > a:after {
  color: #333;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-nav-menu
  li {
  background-color: #fff;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-nav-menu
  li
  a:hover,
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-nav-menu
  .menu-item-has-children
  > a:hover:after,
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-nav-menu
  li
  a.wpr-active-menu-item,
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-nav-menu
  .menu-item-has-children.current_page_item
  > a:hover:after {
  color: #fff;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-nav-menu
  a:hover,
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-nav-menu
  a.wpr-active-menu-item {
  background-color: #4f80ff;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-nav-menu
  a {
  padding-left: 10px;
  padding-right: 10px;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-nav-menu
  .menu-item-has-children
  > a:after {
  margin-left: 10px;
  margin-right: 10px;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-nav-menu
  .wpr-mobile-menu-item {
  padding-top: 10px;
  padding-bottom: 10px;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08.wpr-mobile-divider-yes
  .wpr-mobile-nav-menu
  a {
  border-bottom-color: #e8e8e8;
  border-bottom-width: 1px;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-nav-menu
  .wpr-mobile-sub-menu-item {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-nav-menu {
  margin-top: 10px;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-toggle {
  border-color: #343f5a;
  width: 50px;
  border-width: 0;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-toggle-text {
  color: #343f5a;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-toggle-line {
  background-color: #343f5a;
  height: 2px;
  margin-bottom: 6px;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-toggle:hover {
  border-color: #4f80ff;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-toggle:hover
  .wpr-mobile-toggle-text {
  color: #4f80ff;
}
.elementor-1064
  .elementor-element.elementor-element-2715e08
  .wpr-mobile-toggle:hover
  .wpr-mobile-toggle-line {
  background-color: #4f80ff;
}
@media (min-width: 768px) {
  .elementor-1064 .elementor-element.elementor-element-4c0c42f {
    width: 21%;
  }
  .elementor-1064 .elementor-element.elementor-element-379583c {
    width: 59.016%;
  }
  .elementor-1064 .elementor-element.elementor-element-7085c34 {
    width: 19.289%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-1064 .elementor-element.elementor-element-379583c {
    width: 55%;
  }
  .elementor-1064 .elementor-element.elementor-element-7085c34 {
    width: 25%;
  }
  .elementor-1064 .elementor-element.elementor-element-1563041 {
    width: 55%;
  }
}
@media (max-width: 767px) {
  .elementor-1064 .elementor-element.elementor-element-4c0c42f {
    width: 33%;
  }
  .elementor-1064 .elementor-element.elementor-element-982c581 .wpr-logo-image {
    max-width: 94px;
  }
  .elementor-1064 .elementor-element.elementor-element-379583c {
    width: 20%;
  }
  .elementor-1064
    .elementor-element.elementor-element-e524d09
    .wpr-mobile-toggle-wrap {
    text-align: right;
  }
  .elementor-1064
    .elementor-element.elementor-element-e524d09
    .wpr-mobile-nav-menu {
    margin-top: 15px;
  }
  .elementor-1064 .elementor-element.elementor-element-7085c34 {
    width: 47%;
  }
  .elementor-1064
    .elementor-element.elementor-element-657c43e
    .wpr-button-wrap {
    max-width: 407px;
  }
  .elementor-1064 .elementor-element.elementor-element-657c43e {
    text-align: center;
  }
  .elementor-1064 .elementor-element.elementor-element-6e6873e {
    width: 50%;
  }
  .elementor-1064 .elementor-element.elementor-element-75767d6 {
    text-align: center;
  }
  .elementor-1064 .elementor-element.elementor-element-75767d6 .wpr-logo-image {
    max-width: 135px;
  }
  .elementor-1064
    .elementor-element.elementor-element-75767d6.wpr-logo-position-left
    .wpr-logo-image {
    margin-right: 0;
  }
  .elementor-1064
    .elementor-element.elementor-element-75767d6.wpr-logo-position-right
    .wpr-logo-image {
    margin-left: 0;
  }
  .elementor-1064
    .elementor-element.elementor-element-75767d6.wpr-logo-position-center
    .wpr-logo-image {
    margin-bottom: 0;
  }
  .elementor-1064 .elementor-element.elementor-element-1563041 {
    width: 50%;
  }
  .elementor-1064
    .elementor-element.elementor-element-2715e08
    .wpr-mobile-toggle-wrap {
    text-align: right;
  }
  .elementor-1064
    .elementor-element.elementor-element-2715e08
    .wpr-nav-menu-horizontal
    .wpr-nav-menu
    > li
    > .wpr-sub-menu {
    margin-top: 25px;
  }
  .elementor-1064
    .elementor-element.elementor-element-2715e08
    .wpr-mobile-nav-menu {
    margin-top: 44px;
  }
}
