.elementor-748
  .elementor-element.elementor-element-eaff33e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-748
  .elementor-element.elementor-element-eaff33e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(93deg, #e8eeff 0%, #fcfcff 100%);
}

.elementor-748
  .elementor-element.elementor-element-eaff33e
  .elementor-repeater-item-471af14.wpr-parallax-ml-children {
  width: 40px !important;
  left: 40% !important;
  top: 30% !important;
}

.elementor-748
  .elementor-element.elementor-element-c83b07e
  .elementor-heading-title {
  color: #343f5a;
  font-family: poppins, Sans-serif;
  font-size: 65px;
  font-weight: 500;
}

.elementor-748 .elementor-element.elementor-element-7be8413 {
  color: #777;
  font-family: red hat display, Sans-serif;
  font-size: 17px;
  font-weight: 500;
}

.elementor-748
  .elementor-element.elementor-element-eaff33e
  .elementor-repeater-item-acf2ce0.wpr-parallax-ml-children {
  width: 40px !important;
  left: 20% !important;
  top: 72% !important;
}

.elementor-748
  .elementor-element.elementor-element-eaff33e
  > .elementor-background-overlay {
  opacity: 0.02;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-748 .elementor-element.elementor-element-eaff33e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0;
}

.elementor-748 .elementor-element.elementor-element-97e2d39 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.elementor-bc-flex-widget
  .elementor-748
  .elementor-element.elementor-element-b09a974.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}

.elementor-748
  .elementor-element.elementor-element-b09a974.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-748
  .elementor-element.elementor-element-a0aad9d
  .elementor-heading-title {
  color: #4f80ff;
  font-family: poppins, Sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.elementor-748
  .elementor-element.elementor-element-a1e23e5
  .elementor-heading-title {
  color: #343f5a;
  font-family: poppins, Sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.3em;
}

.elementor-748 .elementor-element.elementor-element-cace139 {
  color: #777;
  font-family: red hat display, Sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.elementor-748
  .elementor-element.elementor-element-2e0667b
  .wpr-feature-list-item {
  justify-content: left;
}

.elementor-748
  .elementor-element.elementor-element-2e0667b.wpr-feature-list-left
  .wpr-feature-list-item {
  align-items: center;
}

.elementor-748
  .elementor-element.elementor-element-2e0667b.wpr-feature-list-right
  .wpr-feature-list-item {
  align-items: center;
}

.elementor-748
  .elementor-element.elementor-element-2e0667b
  .wpr-feature-list-item:not(:last-child) {
  margin-bottom: 35px;
}

.elementor-748
  .elementor-element.elementor-element-2e0667b.wpr-feature-list-left
  .wpr-feature-list-icon-wrap {
  margin-right: 20px;
}

.elementor-748
  .elementor-element.elementor-element-2e0667b.wpr-feature-list-right
  .wpr-feature-list-icon-wrap {
  margin-left: 20px;
}

.elementor-748
  .elementor-element.elementor-element-2e0667b
  .wpr-feature-list-title {
  margin-bottom: 5px;
  color: #343f5a;
  font-family: poppins, Sans-serif;
  font-size: 19px;
  font-weight: 500;
}

.elementor-748
  .elementor-element.elementor-element-2e0667b
  .elementor-repeater-item-1d535be
  .wpr-feature-list-icon-inner-wrap
  i {
  color: #fff;
}

.elementor-748
  .elementor-element.elementor-element-2e0667b
  .elementor-repeater-item-1d535be
  .wpr-feature-list-icon-inner-wrap
  svg {
  fill: #fff;
}

.elementor-748
  .elementor-element.elementor-element-2e0667b
  .elementor-repeater-item-1d535be
  .wpr-feature-list-icon-inner-wrap {
  background-color: #4f80ff;
  border-color: #4f80ff;
}

.elementor-748
  .elementor-element.elementor-element-2e0667b
  .wpr-feature-list-icon-inner-wrap
  i {
  color: #fff;
}

.elementor-748
  .elementor-element.elementor-element-2e0667b
  .wpr-feature-list-icon-inner-wrap
  svg {
  fill: #fff;
}

.elementor-748
  .elementor-element.elementor-element-2e0667b
  .wpr-feature-list-icon-inner-wrap {
  background-color: #4f80ff;
  width: 40px;
  height: 40px;
  border-style: none;
  border-radius: 5px 5px 5px 5px;
}

.elementor-748
  .elementor-element.elementor-element-2e0667b
  .wpr-feature-list-icon-wrap
  i {
  font-size: 16px;
}

.elementor-748
  .elementor-element.elementor-element-2e0667b
  .wpr-feature-list-icon-wrap
  svg {
  width: 16px;
  height: auto;
}

.elementor-748
  .elementor-element.elementor-element-2e0667b
  .wpr-feature-list-line {
  border-color: #4f80ff;
  border-left-width: 1px;
  border-left-style: solid;
}

.elementor-748
  .elementor-element.elementor-element-2e0667b
  .wpr-feature-list-title
  a.wpr-feature-list-url {
  color: #343f5a;
}

.elementor-748
  .elementor-element.elementor-element-2e0667b
  .wpr-feature-list-description {
  color: #777;
  font-family: red hat display, Sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.elementor-748
  .elementor-element.elementor-element-22ddf3d
  > .elementor-container {
  max-width: 1400px;
}

.elementor-748
  .elementor-element.elementor-element-22ddf3d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-748
  .elementor-element.elementor-element-22ddf3d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f9fbfd;
}

.elementor-748 .elementor-element.elementor-element-22ddf3d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 100px 0;
}

.elementor-748
  .elementor-element.elementor-element-22ddf3d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-748 .elementor-element.elementor-element-40526e7 {
  text-align: center;
}

.elementor-748
  .elementor-element.elementor-element-40526e7
  .elementor-heading-title {
  color: #4f80ff;
  font-family: poppins, Sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.elementor-748 .elementor-element.elementor-element-3dde8c4 {
  text-align: center;
}

.elementor-748
  .elementor-element.elementor-element-3dde8c4
  .elementor-heading-title {
  color: #343f5a;
  font-family: poppins, Sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.3em;
}

.elementor-748 .elementor-element.elementor-element-4f927e6 {
  text-align: center;
  color: #777;
  font-family: red hat display, Sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.elementor-748 .elementor-element.elementor-element-cd69ad1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.elementor-748
  .elementor-element.elementor-element-d12d7f3.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}

.elementor-748
  .elementor-element.elementor-element-d12d7f3.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}

.elementor-748
  .elementor-element.elementor-element-d12d7f3.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}

.elementor-748
  .elementor-element.elementor-element-d12d7f3
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 46%;
}

.elementor-748
  .elementor-element.elementor-element-d12d7f3
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}

.elementor-748
  .elementor-element.elementor-element-d12d7f3
  .elementor-image-box-title {
  margin-bottom: 0;
  color: #343f5a;
  font-family: poppins, Sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.elementor-748
  .elementor-element.elementor-element-d12d7f3
  .elementor-image-box-description {
  color: #777;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.elementor-748
  .elementor-element.elementor-element-57cf318.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}

.elementor-748
  .elementor-element.elementor-element-57cf318.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}

.elementor-748
  .elementor-element.elementor-element-57cf318.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}

.elementor-748
  .elementor-element.elementor-element-57cf318
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 30%;
}

.elementor-748
  .elementor-element.elementor-element-57cf318
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}

.elementor-748
  .elementor-element.elementor-element-57cf318
  .elementor-image-box-title {
  margin-bottom: 0;
  color: #343f5a;
  font-family: poppins, Sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.elementor-748
  .elementor-element.elementor-element-57cf318
  .elementor-image-box-description {
  color: #777;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.elementor-748
  .elementor-element.elementor-element-1ef4f0e.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}

.elementor-748
  .elementor-element.elementor-element-1ef4f0e.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}

.elementor-748
  .elementor-element.elementor-element-1ef4f0e.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}

.elementor-748
  .elementor-element.elementor-element-1ef4f0e
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 46%;
}

.elementor-748
  .elementor-element.elementor-element-1ef4f0e
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}

.elementor-748
  .elementor-element.elementor-element-1ef4f0e
  .elementor-image-box-title {
  margin-bottom: 0;
  color: #343f5a;
  font-family: poppins, Sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.elementor-748
  .elementor-element.elementor-element-1ef4f0e
  .elementor-image-box-description {
  color: #777;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.elementor-748
  .elementor-element.elementor-element-98585eb
  > .elementor-container {
  max-width: 869px;
}

.elementor-748 .elementor-element.elementor-element-98585eb {
  margin-top: 30px;
  margin-bottom: 0;
}

.elementor-748
  .elementor-element.elementor-element-23530e6.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}

.elementor-748
  .elementor-element.elementor-element-23530e6.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}

.elementor-748
  .elementor-element.elementor-element-23530e6.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}

.elementor-748
  .elementor-element.elementor-element-23530e6
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 46%;
}

.elementor-748
  .elementor-element.elementor-element-23530e6
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}

.elementor-748
  .elementor-element.elementor-element-23530e6
  .elementor-image-box-title {
  margin-bottom: 0;
  color: #343f5a;
  font-family: poppins, Sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.elementor-748
  .elementor-element.elementor-element-23530e6
  .elementor-image-box-description {
  color: #777;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.elementor-748
  .elementor-element.elementor-element-baae826.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}

.elementor-748
  .elementor-element.elementor-element-baae826.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}

.elementor-748
  .elementor-element.elementor-element-baae826.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}

.elementor-748
  .elementor-element.elementor-element-baae826
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 46%;
}

.elementor-748
  .elementor-element.elementor-element-baae826
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}

.elementor-748
  .elementor-element.elementor-element-baae826
  .elementor-image-box-title {
  margin-bottom: 0;
  color: #343f5a;
  font-family: poppins, Sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.elementor-748
  .elementor-element.elementor-element-baae826
  .elementor-image-box-description {
  color: #777;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.elementor-748 .elementor-element.elementor-element-4fbfdf4 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.elementor-748
  .elementor-element.elementor-element-7e80e6b
  .elementor-heading-title {
  color: #4f80ff;
  font-family: poppins, Sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.elementor-748
  .elementor-element.elementor-element-4e0015a
  .elementor-heading-title {
  color: #343f5a;
  font-family: poppins, Sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.3em;
}

.elementor-748 .elementor-element.elementor-element-416070e {
  color: #777;
  font-family: red hat display, Sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.elementor-748
  .elementor-element.elementor-element-df3ec00.elementor-view-stacked
  .elementor-icon {
  background-color: #4277ff;
}

.elementor-748
  .elementor-element.elementor-element-df3ec00.elementor-view-framed
  .elementor-icon,
.elementor-748
  .elementor-element.elementor-element-df3ec00.elementor-view-default
  .elementor-icon {
  fill: #4277ff;
  color: #4277ff;
  border-color: #4277ff;
}

.elementor-748
  .elementor-element.elementor-element-df3ec00.elementor-view-stacked
  .elementor-icon:hover {
  background-color: #2070fb;
  fill: #fff;
  color: #fff;
}

.elementor-748
  .elementor-element.elementor-element-df3ec00.elementor-view-framed
  .elementor-icon:hover,
.elementor-748
  .elementor-element.elementor-element-df3ec00.elementor-view-default
  .elementor-icon:hover {
  fill: #2070fb;
  color: #2070fb;
  border-color: #2070fb;
}

.elementor-748
  .elementor-element.elementor-element-df3ec00.elementor-view-framed
  .elementor-icon:hover {
  background-color: #fff;
}

.elementor-748 .elementor-element.elementor-element-df3ec00 {
  --icon-box-icon-margin: 15px;
}

.elementor-748 .elementor-element.elementor-element-df3ec00 .elementor-icon {
  font-size: 27px;
  border-radius: 4px 4px 4px 4px;
}

.elementor-748
  .elementor-element.elementor-element-df3ec00
  .elementor-icon-box-title {
  margin-bottom: 0;
  color: #222;
}

.elementor-748
  .elementor-element.elementor-element-df3ec00
  .elementor-icon-box-title,
.elementor-748
  .elementor-element.elementor-element-df3ec00
  .elementor-icon-box-title
  a {
  font-family: poppins, Sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.elementor-748
  .elementor-element.elementor-element-df3ec00
  .elementor-icon-box-description {
  color: #666;
  font-family: open sans, Sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.elementor-748
  .elementor-element.elementor-element-18366c1.elementor-view-stacked
  .elementor-icon {
  background-color: #4277ff;
}

.elementor-748
  .elementor-element.elementor-element-18366c1.elementor-view-framed
  .elementor-icon,
.elementor-748
  .elementor-element.elementor-element-18366c1.elementor-view-default
  .elementor-icon {
  fill: #4277ff;
  color: #4277ff;
  border-color: #4277ff;
}

.elementor-748
  .elementor-element.elementor-element-18366c1.elementor-view-stacked
  .elementor-icon:hover {
  background-color: #2070fb;
  fill: #fff;
  color: #fff;
}

.elementor-748
  .elementor-element.elementor-element-18366c1.elementor-view-framed
  .elementor-icon:hover,
.elementor-748
  .elementor-element.elementor-element-18366c1.elementor-view-default
  .elementor-icon:hover {
  fill: #2070fb;
  color: #2070fb;
  border-color: #2070fb;
}

.elementor-748
  .elementor-element.elementor-element-18366c1.elementor-view-framed
  .elementor-icon:hover {
  background-color: #fff;
}

.elementor-748 .elementor-element.elementor-element-18366c1 {
  --icon-box-icon-margin: 15px;
}

.elementor-748 .elementor-element.elementor-element-18366c1 .elementor-icon {
  font-size: 27px;
  border-radius: 4px 4px 4px 4px;
}

.elementor-748
  .elementor-element.elementor-element-18366c1
  .elementor-icon-box-title {
  margin-bottom: 0;
  color: #222;
}

.elementor-748
  .elementor-element.elementor-element-18366c1
  .elementor-icon-box-title,
.elementor-748
  .elementor-element.elementor-element-18366c1
  .elementor-icon-box-title
  a {
  font-family: poppins, Sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.elementor-748
  .elementor-element.elementor-element-18366c1
  .elementor-icon-box-description {
  color: #666;
  font-family: open sans, Sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.elementor-748
  .elementor-element.elementor-element-e1824b5.elementor-view-stacked
  .elementor-icon {
  background-color: #4277ff;
}

.elementor-748
  .elementor-element.elementor-element-e1824b5.elementor-view-framed
  .elementor-icon,
.elementor-748
  .elementor-element.elementor-element-e1824b5.elementor-view-default
  .elementor-icon {
  fill: #4277ff;
  color: #4277ff;
  border-color: #4277ff;
}

.elementor-748
  .elementor-element.elementor-element-e1824b5.elementor-view-stacked
  .elementor-icon:hover {
  background-color: #2070fb;
  fill: #fff;
  color: #fff;
}

.elementor-748
  .elementor-element.elementor-element-e1824b5.elementor-view-framed
  .elementor-icon:hover,
.elementor-748
  .elementor-element.elementor-element-e1824b5.elementor-view-default
  .elementor-icon:hover {
  fill: #2070fb;
  color: #2070fb;
  border-color: #2070fb;
}

.elementor-748
  .elementor-element.elementor-element-e1824b5.elementor-view-framed
  .elementor-icon:hover {
  background-color: #fff;
}

.elementor-748 .elementor-element.elementor-element-e1824b5 {
  --icon-box-icon-margin: 15px;
}

.elementor-748 .elementor-element.elementor-element-e1824b5 .elementor-icon {
  font-size: 27px;
  border-radius: 4px 4px 4px 4px;
}

.elementor-748
  .elementor-element.elementor-element-e1824b5
  .elementor-icon-box-title {
  margin-bottom: 0;
  color: #222;
}

.elementor-748
  .elementor-element.elementor-element-e1824b5
  .elementor-icon-box-title,
.elementor-748
  .elementor-element.elementor-element-e1824b5
  .elementor-icon-box-title
  a {
  font-family: poppins, Sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.elementor-748
  .elementor-element.elementor-element-e1824b5
  .elementor-icon-box-description {
  color: #666;
  font-family: open sans, Sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.elementor-748
  .elementor-element.elementor-element-a173e45
  > .elementor-container {
  max-width: 1600px;
}

.elementor-748 .elementor-element.elementor-element-58724be {
  --divider-border-style: solid;
  --divider-color: #efefef;
  --divider-border-width: 1px;
}

.elementor-748
  .elementor-element.elementor-element-58724be
  .elementor-divider-separator {
  width: 100%;
}

.elementor-748 .elementor-element.elementor-element-58724be .elementor-divider {
  padding-top: 2px;
  padding-bottom: 2px;
}

.elementor-748 .elementor-element.elementor-element-a1a28fc {
  margin-top: 100px;
  margin-bottom: 100px;
}

.elementor-748 .elementor-element.elementor-element-f7581c0 {
  text-align: center;
}

.elementor-748
  .elementor-element.elementor-element-f7581c0
  .elementor-heading-title {
  color: #343f5a;
  font-family: poppins, Sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.3em;
}

.elementor-748 .elementor-element.elementor-element-83abdc4 {
  text-align: center;
  color: #777;
  font-family: red hat display, Sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .elementor-repeater-item-9fbd2c9
  .wpr-timeline-media
  i {
  color: #000;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .elementor-repeater-item-9fbd2c9
  .wpr-timeline-media {
  background-color: #fff;
  padding: 20px;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .elementor-repeater-item-9fbd2c9
  .wpr-timeline-media
  i {
  font-size: 40px;
  display: block;
  text-align: center;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .elementor-repeater-item-9fbd2c9
  .wpr-timeline-media
  svg {
  width: 40px;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .elementor-repeater-item-be080f4
  .wpr-timeline-media
  i {
  color: #000;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .elementor-repeater-item-be080f4
  .wpr-timeline-media {
  background-color: #fff;
  padding: 20px;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .elementor-repeater-item-be080f4
  .wpr-timeline-media
  i {
  font-size: 40px;
  display: block;
  text-align: center;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .elementor-repeater-item-be080f4
  .wpr-timeline-media
  svg {
  width: 40px;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .elementor-repeater-item-4e8cd98
  .wpr-timeline-media
  i {
  color: #000;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .elementor-repeater-item-4e8cd98
  .wpr-timeline-media {
  background-color: #fff;
  padding: 20px;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .elementor-repeater-item-4e8cd98
  .wpr-timeline-media
  i {
  font-size: 40px;
  display: block;
  text-align: center;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .elementor-repeater-item-4e8cd98
  .wpr-timeline-media
  svg {
  width: 40px;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .elementor-repeater-item-355fb15
  .wpr-timeline-media
  i {
  color: #000;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .elementor-repeater-item-355fb15
  .wpr-timeline-media {
  background-color: #fff;
  padding: 20px;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .elementor-repeater-item-355fb15
  .wpr-timeline-media
  i {
  font-size: 40px;
  display: block;
  text-align: center;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .elementor-repeater-item-355fb15
  .wpr-timeline-media
  svg {
  width: 40px;
}

.elementor-748 .elementor-element.elementor-element-e64da0e .wpr-story-info {
  text-align: center;
  padding: 10px 25px 20px;
  border-style: none !important;
  border-radius: 10px 10px 10px 10px !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-left-aligned
  .wpr-story-info-vertical {
  text-align: center;
  border-color: #1388fd;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-left-aligned
  .wpr-title-wrap {
  text-align: center;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-left-aligned
  .wpr-description {
  text-align: center;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-left-aligned
  .wpr-inner-date-label {
  text-align: center;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .swiper-wrapper
  .wpr-title-wrap {
  text-align: center;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .swiper-wrapper
  .wpr-description {
  text-align: center;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .swiper-wrapper
  .wpr-inner-date-label {
  text-align: center;
}

.elementor-748 .elementor-element.elementor-element-e64da0e .wpr-title-wrap {
  text-align: center;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-right-aligned
  .wpr-story-info-vertical {
  text-align: center;
  border-color: #1388fd !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-right-aligned
  .wpr-title-wrap {
  text-align: center;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-right-aligned
  .wpr-description {
  text-align: center;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-right-aligned
  .wpr-inner-date-label {
  text-align: center;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-data-wrap {
  background-color: #fff;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-horizontal
  .wpr-story-info {
  background-color: #fff;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-horizontal-bottom
  .wpr-story-info {
  background-color: #fff;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-story-info-vertical {
  box-shadow: 0 0 10px 1px
    rgba(147.00000000000003, 147.00000000000003, 147.00000000000003, 0.1);
  border-style: none !important;
  border-radius: 10px 10px 10px 10px !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-centered.wpr-one-sided-timeline-left
  .wpr-data-wrap {
  margin-right: calc(100px / 2 + 45px);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-centered.wpr-one-sided-timeline
  .wpr-data-wrap {
  margin-left: calc(100px / 2 + 45px);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-centered
  .wpr-left-aligned
  .wpr-timeline-entry-inner
  .wpr-data-wrap {
  margin-right: 45px;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-centered
  .wpr-right-aligned
  .wpr-timeline-entry-inner
  .wpr-data-wrap {
  margin-left: 45px;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-centered
  .wpr-one-sided-timeline
  .wpr-right-aligned
  .wpr-timeline-entry-inner
  .wpr-data-wrap {
  margin-left: calc(100px / 2 + 45px);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-centered
  .wpr-one-sided-timeline
  .wpr-extra-label {
  margin-left: calc(100px / 2 + 45px);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-one-sided-wrapper
  .wpr-one-sided-timeline
  .wpr-extra-label {
  margin-left: calc(100px / 2 + 45px);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-centered.wpr-one-sided-timeline-left
  .wpr-timeline-entry
  .wpr-extra-label {
  margin-right: calc(100px / 2 + 45px);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-centered
  .wpr-year-wrap {
  margin-bottom: 34px;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-centered
  .wpr-timeline-entry {
  margin-bottom: 34px;
}

.elementor-748 .elementor-element.elementor-element-e64da0e .wpr-data-wrap {
  padding: 10px 25px 20px !important;
}

.elementor-748 .elementor-element.elementor-element-e64da0e .wpr-vertical {
  padding: 10px;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .swiper-slide {
  padding: 10px;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-media {
  width: 100%;
  border-color: #e8e8e8;
  border-style: none;
  border-radius: 0 0 0 0;
  padding: 0;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-content-wrapper {
  border-color: #e8e8e8;
  border-style: none;
  border-radius: 0 0 0 0;
  overflow: hidden;
  padding: 0;
}

.elementor-748 .elementor-element.elementor-element-e64da0e .wpr-title {
  color: #444;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-title-wrap {
  background-color: #ffffff00 !important;
  margin: 15px 0 0 !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-title {
  font-family: poppins, Sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 0 !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-description {
  color: #666;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  margin: 0 0 5px !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-line::before {
  background-color: #d6d6d6;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-middle-line {
  background-color: #d6d6d6;
  width: 2px;
  transform: translate(-50%) !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-timeline-centered
  .wpr-year {
  border-color: #d6d6d6;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper:before {
  background-color: #d6d6d6;
}

.elementor-748 .elementor-element.elementor-element-e64da0e .wpr-wrapper:after {
  background-color: #d6d6d6;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-horizontal
  .wpr-swiper-pagination.swiper-pagination-progressbar {
  background-color: #d6d6d6;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-horizontal-bottom
  .wpr-swiper-pagination.swiper-pagination-progressbar {
  background-color: #d6d6d6;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-horizontal
  .wpr-button-prev {
  color: #d6d6d6;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-horizontal
  .wpr-button-next {
  color: #d6d6d6;
}

.elementor-748 .elementor-element.elementor-element-e64da0e .wpr-timeline-fill {
  background-color: #1388fd !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-change-border-color {
  border-color: #1388fd !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-vertical:before {
  background-color: #1388fd !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-vertical:after {
  background-color: #1388fd !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-timeline-fill {
  width: 2px;
  transform: translate(-50%) !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-one-sided-timeline-left
  .wpr-middle-line {
  width: 2px;
  transform: translate(50%) !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-one-sided-timeline-left
  .wpr-timeline-fill {
  width: 2px;
  transform: translate(50%) !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-one-sided-timeline
  .wpr-middle-line {
  width: 2px;
  transform: translate(-50%) !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-one-sided-timeline
  .wpr-timeline-fill {
  width: 2px;
  transform: translate(-50%) !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-centered.wpr-one-sided-timeline
  .wpr-year-label {
  left: calc(100px / 2);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-centered.wpr-one-sided-timeline
  .wpr-middle-line {
  left: calc(100px / 2);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-centered.wpr-one-sided-timeline
  .wpr-timeline-fill {
  left: calc(100px / 2);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-centered.wpr-one-sided-timeline
  .wpr-icon {
  left: calc(100px / 2);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-centered.wpr-one-sided-timeline-left
  .wpr-year-label {
  right: calc(100px / 2);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-centered.wpr-one-sided-timeline-left
  .wpr-middle-line {
  right: calc(100px / 2);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-centered.wpr-one-sided-timeline-left
  .wpr-timeline-fill {
  right: calc(100px / 2);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-centered.wpr-one-sided-timeline-left
  .wpr-icon {
  right: calc(100px / 2);
}

body[data-elementor-device-mode="mobile"]
  .elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-both-sided-timeline
  .wpr-year-label {
  position: absolute;
  left: calc(100px / 2);
}

body[data-elementor-device-mode="mobile"]
  .elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-both-sided-timeline
  .wpr-middle-line {
  left: calc(100px / 2);
}

body[data-elementor-device-mode="mobile"]
  .elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-both-sided-timeline
  .wpr-timeline-fill {
  left: calc(100px / 2);
}

body[data-elementor-device-mode="mobile"]
  .elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-both-sided-timeline
  .wpr-icon {
  left: calc(100px / 2);
  transform: translate(-50%, -50%) !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-year {
  color: #222;
  background-color: #fff;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-year.wpr-year-label {
  border-color: #e0e0e0;
}

.elementor-748 .elementor-element.elementor-element-e64da0e .wpr-year-label {
  width: 70px;
  height: 39px;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px 5px 5px 5px;
}

.elementor-748 .elementor-element.elementor-element-e64da0e .wpr-year-wrap {
  height: 39px;
}

.elementor-748 .elementor-element.elementor-element-e64da0e .wpr-icon i {
  color: #d6d6d6;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-icon {
  color: #d6d6d6;
  background-color: #fff;
  border-color: #d6d6d6;
  height: 43px;
  width: 43px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-icon
  svg {
  fill: #d6d6d6;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-change-border-color.wpr-icon
  i {
  color: #1388fd;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-change-border-color.wpr-icon
  svg {
  fill: #1388fd;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-change-border-color.wpr-icon {
  background-color: #fff;
}

.elementor-748 .elementor-element.elementor-element-e64da0e .wpr-icon {
  transition-duration: 0.1s;
  border-style: solid;
  border-width: 1px !important;
  border-radius: 50% 50% 50% 50% !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-icon
  i {
  font-size: 16px !important;
  display: block;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-extra-label {
  width: 180px;
  height: auto;
  padding: 5px 10px !important;
  border-radius: 0 0 0 0 !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-centered.wpr-both-sided-timeline
  .wpr-timeline-entry.wpr-left-aligned
  .wpr-extra-label {
  left: calc(100% + 25px);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-centered.wpr-both-sided-timeline
  .wpr-timeline-entry.wpr-right-aligned
  .wpr-extra-label {
  right: calc(100% + 25px);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  span.wpr-label {
  color: #1388fd;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-extra-label
  span.wpr-label {
  font-family: poppins, Sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  span.wpr-sub-label {
  color: #666;
  font-family: red hat display, Sans-serif;
  font-size: 13px;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-one-sided-timeline
  .wpr-data-wrap:after {
  border-right-color: #fff;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-one-sided-timeline-left
  .wpr-data-wrap:after {
  border-left-color: #fff;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-right-aligned
  .wpr-data-wrap:after {
  border-right-color: #fff;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-horizontal
  .wpr-story-info:before {
  border-top-color: #fff !important;
  border-width: 11px;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-horizontal-bottom
  .wpr-story-info:before {
  border-bottom-color: #fff !important;
  border-width: 11px;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-left-aligned
  .wpr-data-wrap:after {
  border-left-color: #fff;
}

body[data-elementor-device-mode="mobile"]
  .elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-wrapper
  .wpr-both-sided-timeline
  .wpr-left-aligned
  .wpr-data-wrap:after {
  border-right-color: #fff !important;
  border-left-color: transparent !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-centered
  .wpr-one-sided-timeline
  .wpr-right-aligned
  .wpr-data-wrap:after {
  border-right-color: #fff !important;
  border-left-color: transparent !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-one-sided-timeline
  .wpr-data-wrap:after {
  border-width: 11px;
  top: 30%;
  transform: translateY(-50%);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-one-sided-timeline-left
  .wpr-data-wrap:after {
  border-width: 11px;
  top: 30%;
  transform: translateY(-50%);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-both-sided-timeline
  .wpr-right-aligned
  .wpr-data-wrap:after {
  border-width: 11px;
  top: 30%;
  transform: translateY(-50%);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-both-sided-timeline
  .wpr-left-aligned
  .wpr-data-wrap:after {
  border-width: 11px;
  top: 30%;
  transform: translateY(-50%);
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-centered
  .wpr-data-wrap:after {
  top: 30%;
  transform: translateY(-50%) !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-centered.wpr-both-sided-timeline
  .wpr-right-aligned
  .wpr-icon {
  position: absolute;
  top: 30%;
  transform: translate(50%, -50%) !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-centered.wpr-one-sided-timeline
  .wpr-right-aligned
  .wpr-icon {
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%) !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-centered
  .wpr-left-aligned
  .wpr-icon {
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%) !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-timeline-centered
  .wpr-extra-label {
  top: 30%;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  .wpr-centered
  .wpr-one-sided-timeline
  .wpr-data-wrap:after {
  top: 30%;
  transform: translateY(-50%) !important;
}

.elementor-748
  .elementor-element.elementor-element-e64da0e
  > .elementor-widget-container {
  margin: 30px 0 0;
}

body.elementor-page-748:not(.elementor-motion-effects-element-type-background),
body.elementor-page-748
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fff;
}

@media (min-width: 768px) {
  .elementor-748 .elementor-element.elementor-element-b09a974 {
    width: 44.43%;
  }

  .elementor-748 .elementor-element.elementor-element-2d358bf {
    width: 55.526%;
  }

  .elementor-748 .elementor-element.elementor-element-e217957 {
    width: 52.016%;
  }

  .elementor-748 .elementor-element.elementor-element-9c7a091 {
    width: 47.94%;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-748 .elementor-element.elementor-element-b09a974 {
    width: 100%;
  }

  .elementor-748 .elementor-element.elementor-element-2d358bf {
    width: 100%;
  }

  .elementor-748 .elementor-element.elementor-element-e217957 {
    width: 100%;
  }

  .elementor-748 .elementor-element.elementor-element-9c7a091 {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .elementor-748
    .elementor-element.elementor-element-c83b07e
    .elementor-heading-title {
    font-size: 55px;
  }

  .elementor-748
    .elementor-element.elementor-element-a1e23e5
    .elementor-heading-title {
    font-size: 40px;
  }

  .elementor-748 .elementor-element.elementor-element-22ddf3d {
    padding: 50px 20px;
  }

  .elementor-748
    .elementor-element.elementor-element-3dde8c4
    .elementor-heading-title {
    font-size: 40px;
  }

  .elementor-748
    .elementor-element.elementor-element-d12d7f3
    .elementor-image-box-title {
    font-size: 18px;
  }

  .elementor-748
    .elementor-element.elementor-element-d12d7f3
    .elementor-image-box-description {
    font-size: 14px;
  }

  .elementor-748
    .elementor-element.elementor-element-57cf318
    .elementor-image-box-title {
    font-size: 18px;
  }

  .elementor-748
    .elementor-element.elementor-element-57cf318
    .elementor-image-box-description {
    font-size: 14px;
  }

  .elementor-748
    .elementor-element.elementor-element-1ef4f0e
    .elementor-image-box-title {
    font-size: 18px;
  }

  .elementor-748
    .elementor-element.elementor-element-1ef4f0e
    .elementor-image-box-description {
    font-size: 14px;
  }

  .elementor-748
    .elementor-element.elementor-element-23530e6
    .elementor-image-box-title {
    font-size: 18px;
  }

  .elementor-748
    .elementor-element.elementor-element-23530e6
    .elementor-image-box-description {
    font-size: 14px;
  }

  .elementor-748
    .elementor-element.elementor-element-baae826
    .elementor-image-box-title {
    font-size: 18px;
  }

  .elementor-748
    .elementor-element.elementor-element-baae826
    .elementor-image-box-description {
    font-size: 14px;
  }

  .elementor-748
    .elementor-element.elementor-element-4e0015a
    .elementor-heading-title {
    font-size: 40px;
  }

  .elementor-748
    .elementor-element.elementor-element-f7581c0
    .elementor-heading-title {
    font-size: 40px;
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline-left
    .wpr-data-wrap {
    margin-right: calc(100px / 2 + 40px);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline
    .wpr-data-wrap {
    margin-left: calc(100px / 2 + 40px);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-centered
    .wpr-left-aligned
    .wpr-timeline-entry-inner
    .wpr-data-wrap {
    margin-right: 40px;
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-centered
    .wpr-right-aligned
    .wpr-timeline-entry-inner
    .wpr-data-wrap {
    margin-left: 40px;
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-centered
    .wpr-one-sided-timeline
    .wpr-right-aligned
    .wpr-timeline-entry-inner
    .wpr-data-wrap {
    margin-left: calc(100px / 2 + 40px);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-centered
    .wpr-one-sided-timeline
    .wpr-extra-label {
    margin-left: calc(100px / 2 + 40px);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-one-sided-wrapper
    .wpr-one-sided-timeline
    .wpr-extra-label {
    margin-left: calc(100px / 2 + 40px);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline-left
    .wpr-timeline-entry
    .wpr-extra-label {
    margin-right: calc(100px / 2 + 40px);
  }

  .elementor-748 .elementor-element.elementor-element-e64da0e .wpr-vertical {
    padding: 10px;
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-wrapper
    .swiper-slide {
    padding: 10px;
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline
    .wpr-year-label {
    left: calc(100px / 2);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline
    .wpr-middle-line {
    left: calc(100px / 2);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline
    .wpr-timeline-fill {
    left: calc(100px / 2);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline
    .wpr-icon {
    left: calc(100px / 2);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline-left
    .wpr-year-label {
    right: calc(100px / 2);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline-left
    .wpr-middle-line {
    right: calc(100px / 2);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline-left
    .wpr-timeline-fill {
    right: calc(100px / 2);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline-left
    .wpr-icon {
    right: calc(100px / 2);
  }

  body[data-elementor-device-mode="mobile"]
    .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-both-sided-timeline
    .wpr-year-label {
    position: absolute;
    left: calc(100px / 2);
  }

  body[data-elementor-device-mode="mobile"]
    .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-both-sided-timeline
    .wpr-middle-line {
    left: calc(100px / 2);
  }

  body[data-elementor-device-mode="mobile"]
    .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-both-sided-timeline
    .wpr-timeline-fill {
    left: calc(100px / 2);
  }

  body[data-elementor-device-mode="mobile"]
    .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-both-sided-timeline
    .wpr-icon {
    left: calc(100px / 2);
    transform: translate(-50%, -50%) !important;
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-wrapper
    .wpr-icon
    i {
    display: block;
  }
}

@media (max-width: 767px) {
  .elementor-748
    .elementor-element.elementor-element-a1e23e5
    .elementor-heading-title {
    font-size: 35px;
  }

  .elementor-748
    .elementor-element.elementor-element-3dde8c4
    .elementor-heading-title {
    font-size: 35px;
  }

  .elementor-748
    .elementor-element.elementor-element-d12d7f3
    .elementor-image-box-img {
    margin-bottom: 15px;
  }

  .elementor-748
    .elementor-element.elementor-element-57cf318
    .elementor-image-box-img {
    margin-bottom: 15px;
  }

  .elementor-748
    .elementor-element.elementor-element-57cf318
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 46%;
  }

  .elementor-748
    .elementor-element.elementor-element-1ef4f0e
    .elementor-image-box-img {
    margin-bottom: 15px;
  }

  .elementor-748
    .elementor-element.elementor-element-23530e6
    .elementor-image-box-img {
    margin-bottom: 15px;
  }

  .elementor-748
    .elementor-element.elementor-element-baae826
    .elementor-image-box-img {
    margin-bottom: 15px;
  }

  .elementor-748
    .elementor-element.elementor-element-4e0015a
    .elementor-heading-title {
    font-size: 35px;
  }

  .elementor-748
    .elementor-element.elementor-element-f7581c0
    .elementor-heading-title {
    font-size: 35px;
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline-left
    .wpr-data-wrap {
    margin-right: calc(50px / 2 + 40px);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline
    .wpr-data-wrap {
    margin-left: calc(50px / 2 + 40px);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-centered
    .wpr-left-aligned
    .wpr-timeline-entry-inner
    .wpr-data-wrap {
    margin-right: 40px;
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-centered
    .wpr-right-aligned
    .wpr-timeline-entry-inner
    .wpr-data-wrap {
    margin-left: 40px;
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-centered
    .wpr-one-sided-timeline
    .wpr-right-aligned
    .wpr-timeline-entry-inner
    .wpr-data-wrap {
    margin-left: calc(50px / 2 + 40px);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-centered
    .wpr-one-sided-timeline
    .wpr-extra-label {
    margin-left: calc(50px / 2 + 40px);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-one-sided-wrapper
    .wpr-one-sided-timeline
    .wpr-extra-label {
    margin-left: calc(50px / 2 + 40px);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline-left
    .wpr-timeline-entry
    .wpr-extra-label {
    margin-right: calc(50px / 2 + 40px);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered
    .wpr-year-wrap {
    margin-bottom: 47px;
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered
    .wpr-timeline-entry {
    margin-bottom: 47px;
  }

  .elementor-748 .elementor-element.elementor-element-e64da0e .wpr-vertical {
    padding: 10px;
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-wrapper
    .swiper-slide {
    padding: 10px;
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-wrapper
    .wpr-title {
    font-size: 18px;
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-wrapper
    .wpr-description {
    font-size: 14px;
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline
    .wpr-year-label {
    left: calc(50px / 2);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline
    .wpr-middle-line {
    left: calc(50px / 2);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline
    .wpr-timeline-fill {
    left: calc(50px / 2);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline
    .wpr-icon {
    left: calc(50px / 2);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline-left
    .wpr-year-label {
    right: calc(50px / 2);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline-left
    .wpr-middle-line {
    right: calc(50px / 2);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline-left
    .wpr-timeline-fill {
    right: calc(50px / 2);
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-timeline-centered.wpr-one-sided-timeline-left
    .wpr-icon {
    right: calc(50px / 2);
  }

  body[data-elementor-device-mode="mobile"]
    .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-both-sided-timeline
    .wpr-year-label {
    position: absolute;
    left: calc(50px / 2);
  }

  body[data-elementor-device-mode="mobile"]
    .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-both-sided-timeline
    .wpr-middle-line {
    left: calc(50px / 2);
  }

  body[data-elementor-device-mode="mobile"]
    .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-both-sided-timeline
    .wpr-timeline-fill {
    left: calc(50px / 2);
  }

  body[data-elementor-device-mode="mobile"]
    .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-both-sided-timeline
    .wpr-icon {
    left: calc(50px / 2);
    transform: translate(-50%, -50%) !important;
  }

  .elementor-748
    .elementor-element.elementor-element-e64da0e
    .wpr-wrapper
    .wpr-icon
    i {
    display: block;
  }
}
