.elementor-1086
  .elementor-element.elementor-element-627f973
  .elementor-repeater-item-5c6d9aa
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .elementor-repeater-item-63aad92
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .elementor-repeater-item-f2db5b9
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .elementor-repeater-item-38cd695
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .elementor-repeater-item-77ba2d7
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .elementor-repeater-item-a3b7c11
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-badge-cyrcle
  .wpr-pricing-table-badge-inner {
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-badge-cyrcle {
  transform: translateX(40%) translateY(40%);
}

.elementor-1086
  .elementor-element.elementor-element-627f973.wpr-pricing-table-animation-slide {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.elementor-1086
  .elementor-element.elementor-element-627f973.wpr-pricing-table-animation-bounce {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

.elementor-1086
  .elementor-element.elementor-element-627f973.wpr-pricing-table-animation-zoom {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-heading {
  padding: 27px 20px 25px;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-title {
  color: #2d2d2d;
  margin: 0 0 0;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-sub-title {
  color: #919191;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-icon {
  color: #605be5;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-icon
  i {
  font-size: 35px;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-icon
  img {
  max-width: 35px;
}

.elementor-1086
  .elementor-element.elementor-element-627f973.wpr-pricing-table-heading-left
  .wpr-pricing-table-icon {
  margin-right: 12px;
}

.elementor-1086
  .elementor-element.elementor-element-627f973.wpr-pricing-table-heading-center
  .wpr-pricing-table-icon {
  margin-bottom: 12px;
}

.elementor-1086
  .elementor-element.elementor-element-627f973.wpr-pricing-table-heading-right
  .wpr-pricing-table-icon {
  margin-left: 12px;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-price {
  padding: 40px 20px 30px;
  color: #fff;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-sub-price {
  font-size: 19px;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-currency {
  font-size: 24px;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-old-price {
  color: #fff;
  font-size: 20px;
  -webkit-align-self: center;
  align-self: center;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-preiod {
  color: #fff;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table
  section {
  background-color: #f9f9f9;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-feature-inner {
  padding: 15px;
  justify-content: center;
  text-align: center;
  max-width: 357px;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-feature:first-of-type {
  padding-top: 0;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-feature:last-of-type {
  padding-bottom: 0;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-feature
  span
  > span {
  color: #54595f;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-feature-icon {
  font-size: 14px;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-feature:after {
  border-bottom-color: #d6d6d6;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  max-width: 45%;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-button {
  padding: 30px 0 10px;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-btn {
  color: #fff;
  border-color: #fff;
  transition-duration: 0.1s;
  padding: 10px 40px;
  border-style: none;
  border-radius: 2px 2px 2px 2px;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-btn:hover {
  color: #fff;
  border-color: #fff;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-btn:before {
  transition-duration: 0.1s;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-btn:after {
  transition-duration: 0.1s;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-text {
  padding: 5px 70px 30px;
  color: #a5a5a5;
  text-align: center;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-badge-inner {
  color: #fff;
  background-color: #e83d17;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-badge-flag:before {
  border-top-color: #e83d17;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table-badge
  .wpr-pricing-table-badge-inner {
  padding: 0 10px;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table {
  border-color: #e8e8e8;
  transition-duration: 0.1s;
  padding: 0;
  border-style: none;
}

.elementor-1086
  .elementor-element.elementor-element-627f973
  .wpr-pricing-table:hover {
  border-color: #e8e8e8;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .elementor-repeater-item-5c6d9aa
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .elementor-repeater-item-63aad92
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .elementor-repeater-item-f2db5b9
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .elementor-repeater-item-38cd695
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .elementor-repeater-item-77ba2d7
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .elementor-repeater-item-2f117cb
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21.wpr-pricing-table-animation-slide {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21.wpr-pricing-table-animation-bounce {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21.wpr-pricing-table-animation-zoom {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-heading {
  padding: 27px 20px 25px;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-title {
  color: #2d2d2d;
  margin: 0 0 0;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-sub-title {
  color: #919191;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-icon {
  color: #605be5;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-icon
  i {
  font-size: 35px;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-icon
  img {
  max-width: 35px;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21.wpr-pricing-table-heading-left
  .wpr-pricing-table-icon {
  margin-right: 12px;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21.wpr-pricing-table-heading-center
  .wpr-pricing-table-icon {
  margin-bottom: 12px;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21.wpr-pricing-table-heading-right
  .wpr-pricing-table-icon {
  margin-left: 12px;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-price {
  padding: 40px 20px 30px;
  color: #fff;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-sub-price {
  font-size: 19px;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-currency {
  font-size: 24px;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-old-price {
  color: #fff;
  font-size: 20px;
  -webkit-align-self: center;
  align-self: center;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-preiod {
  color: #fff;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table
  section {
  background-color: #f9f9f9;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-feature-inner {
  padding: 15px;
  justify-content: center;
  text-align: center;
  max-width: 357px;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-feature:first-of-type {
  padding-top: 0;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-feature:last-of-type {
  padding-bottom: 0;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-feature
  span
  > span {
  color: #54595f;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-feature-icon {
  font-size: 14px;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-feature:after {
  border-bottom-color: #d6d6d6;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  max-width: 45%;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-button {
  padding: 30px 0 10px;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-btn {
  color: #fff;
  border-color: #fff;
  transition-duration: 0.1s;
  padding: 10px 40px;
  border-style: none;
  border-radius: 2px 2px 2px 2px;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-btn:hover {
  color: #fff;
  border-color: #fff;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-btn:before {
  transition-duration: 0.1s;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-btn:after {
  transition-duration: 0.1s;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-text {
  padding: 5px 70px 30px;
  color: #a5a5a5;
  text-align: center;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-badge-inner {
  color: #fff;
  background-color: #e83d17;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-badge-flag:before {
  border-top-color: #e83d17;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table-badge
  .wpr-pricing-table-badge-inner {
  padding: 0 10px;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table {
  border-color: #e8e8e8;
  transition-duration: 0.1s;
  padding: 0;
  border-style: none;
}

.elementor-1086
  .elementor-element.elementor-element-1c92f21
  .wpr-pricing-table:hover {
  border-color: #e8e8e8;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .elementor-repeater-item-ea8fccd
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .elementor-repeater-item-5ca34a8
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .elementor-repeater-item-777f3f8
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .elementor-repeater-item-a346111
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .elementor-repeater-item-b533d3f
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .elementor-repeater-item-eaf1ecc
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074.wpr-pricing-table-animation-slide {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074.wpr-pricing-table-animation-bounce {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074.wpr-pricing-table-animation-zoom {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-heading {
  padding: 27px 20px 25px;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-title {
  color: #2d2d2d;
  margin: 0 0 0;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-sub-title {
  color: #919191;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-icon {
  color: #605be5;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-icon
  i {
  font-size: 35px;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-icon
  img {
  max-width: 35px;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074.wpr-pricing-table-heading-left
  .wpr-pricing-table-icon {
  margin-right: 12px;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074.wpr-pricing-table-heading-center
  .wpr-pricing-table-icon {
  margin-bottom: 12px;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074.wpr-pricing-table-heading-right
  .wpr-pricing-table-icon {
  margin-left: 12px;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-price {
  padding: 40px 20px 30px;
  color: #fff;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-sub-price {
  font-size: 19px;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-currency {
  font-size: 24px;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-old-price {
  color: #fff;
  font-size: 20px;
  -webkit-align-self: center;
  align-self: center;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-preiod {
  color: #fff;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table
  section {
  background-color: #f9f9f9;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-feature-inner {
  padding: 15px;
  justify-content: center;
  text-align: center;
  max-width: 357px;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-feature:first-of-type {
  padding-top: 0;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-feature:last-of-type {
  padding-bottom: 0;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-feature
  span
  > span {
  color: #54595f;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-feature-icon {
  font-size: 14px;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-feature:after {
  border-bottom-color: #d6d6d6;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  max-width: 45%;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-button {
  padding: 30px 0 10px;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-btn {
  color: #fff;
  border-color: #fff;
  transition-duration: 0.1s;
  padding: 10px 40px;
  border-style: none;
  border-radius: 2px 2px 2px 2px;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-btn:hover {
  color: #fff;
  border-color: #fff;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-btn:before {
  transition-duration: 0.1s;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-btn:after {
  transition-duration: 0.1s;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-text {
  padding: 5px 70px 30px;
  color: #a5a5a5;
  text-align: center;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-badge-inner {
  color: #fff;
  background-color: #e83d17;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-badge-flag:before {
  border-top-color: #e83d17;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table-badge
  .wpr-pricing-table-badge-inner {
  padding: 0 10px;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table {
  border-color: #e8e8e8;
  transition-duration: 0.1s;
  padding: 0;
  border-style: none;
}

.elementor-1086
  .elementor-element.elementor-element-d7e2074
  .wpr-pricing-table:hover {
  border-color: #e8e8e8;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .elementor-repeater-item-bf03032
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .elementor-repeater-item-e59a64a
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .elementor-repeater-item-9021e99
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .elementor-repeater-item-a92e7db
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .elementor-repeater-item-163bce5
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .elementor-repeater-item-821d055
  .wpr-pricing-table-feature-icon {
  color: #61ce70;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b.wpr-pricing-table-animation-slide {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b.wpr-pricing-table-animation-bounce {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b.wpr-pricing-table-animation-zoom {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-heading {
  padding: 27px 20px 25px;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-title {
  color: #2d2d2d;
  margin: 0 0 0;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-sub-title {
  color: #919191;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-icon {
  color: #605be5;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-icon
  i {
  font-size: 35px;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-icon
  img {
  max-width: 35px;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b.wpr-pricing-table-heading-left
  .wpr-pricing-table-icon {
  margin-right: 12px;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b.wpr-pricing-table-heading-center
  .wpr-pricing-table-icon {
  margin-bottom: 12px;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b.wpr-pricing-table-heading-right
  .wpr-pricing-table-icon {
  margin-left: 12px;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-price {
  padding: 40px 20px 30px;
  color: #fff;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-sub-price {
  font-size: 19px;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-currency {
  font-size: 24px;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-old-price {
  color: #fff;
  font-size: 20px;
  -webkit-align-self: center;
  align-self: center;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-preiod {
  color: #fff;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table
  section {
  background-color: #f9f9f9;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-feature-inner {
  padding: 15px;
  justify-content: center;
  text-align: center;
  max-width: 357px;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-feature:first-of-type {
  padding-top: 0;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-feature:last-of-type {
  padding-bottom: 0;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-feature
  span
  > span {
  color: #54595f;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-feature-icon {
  font-size: 14px;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-feature:after {
  border-bottom-color: #d6d6d6;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  max-width: 45%;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-button {
  padding: 30px 0 10px;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-btn {
  color: #fff;
  border-color: #fff;
  transition-duration: 0.1s;
  padding: 10px 40px;
  border-style: none;
  border-radius: 2px 2px 2px 2px;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-btn:hover {
  color: #fff;
  border-color: #fff;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-btn:before {
  transition-duration: 0.1s;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-btn:after {
  transition-duration: 0.1s;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-text {
  padding: 5px 70px 30px;
  color: #a5a5a5;
  text-align: center;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-badge-inner {
  color: #fff;
  background-color: #e83d17;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-badge-flag:before {
  border-top-color: #e83d17;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table-badge
  .wpr-pricing-table-badge-inner {
  padding: 0 10px;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table {
  border-color: #e8e8e8;
  transition-duration: 0.1s;
  padding: 0;
  border-style: none;
}

.elementor-1086
  .elementor-element.elementor-element-1c8f84b
  .wpr-pricing-table:hover {
  border-color: #e8e8e8;
}

.elementor-1086
  .elementor-element.elementor-element-7c0f1d6
  > .elementor-container {
  max-width: 1139px;
}

.elementor-1086 .elementor-element.elementor-element-42dbd7d .wpr-acc-icon-box {
  width: 70px;
}

.elementor-1086
  .elementor-element.elementor-element-42dbd7d
  .wpr-advanced-accordion
  .wpr-acc-active
  .wpr-toggle-icon
  i {
  transform: rotate(0deg);
  transform-origin: center;
}

.elementor-1086
  .elementor-element.elementor-element-42dbd7d
  .wpr-advanced-accordion
  .wpr-acc-active
  .wpr-toggle-icon
  svg {
  transform: rotate(0deg);
  transform-origin: center;
}

.elementor-1086
  .elementor-element.elementor-element-42dbd7d
  .wpr-advanced-accordion
  .wpr-acc-button {
  color: #605be4;
  background-color: #fff;
  border-color: #eaeaea;
  font-weight: 400;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 18px;
  border-style: solid;
  border-width: 1px;
  border-radius: 0 0 0 0;
}

.elementor-1086
  .elementor-element.elementor-element-42dbd7d
  .wpr-advanced-accordion
  button.wpr-acc-button {
  transition: all 0.3s ease-in-out;
}

.elementor-1086
  .elementor-element.elementor-element-42dbd7d.wpr-advanced-accordion-icon-no-box
  .wpr-acc-item-title
  .wpr-acc-title-text {
  margin-left: 5px;
}

.elementor-1086
  .elementor-element.elementor-element-42dbd7d.wpr-advanced-accordion-icon-side-box
  .wpr-acc-item-title
  .wpr-acc-title-text {
  margin-left: calc(70px + 5px);
}

.elementor-1086
  .elementor-element.elementor-element-42dbd7d.wpr-advanced-accordion-icon-side-curve
  .wpr-acc-item-title
  .wpr-acc-title-text {
  margin-left: calc(70px + 30px + 5px);
}

.elementor-1086
  .elementor-element.elementor-element-42dbd7d
  .wpr-advanced-accordion
  .wpr-acc-button
  .wpr-title-icon
  i {
  color: #ededed;
  font-size: 18px;
}

.elementor-1086
  .elementor-element.elementor-element-42dbd7d
  .wpr-advanced-accordion
  .wpr-acc-button
  .wpr-title-icon
  svg {
  fill: #ededed;
  width: 18px;
}

.elementor-1086
  .elementor-element.elementor-element-42dbd7d
  .wpr-advanced-accordion
  .wpr-acc-button
  .wpr-toggle-icon
  i {
  color: #333;
  font-size: 15px;
}

.elementor-1086
  .elementor-element.elementor-element-42dbd7d
  .wpr-advanced-accordion
  .wpr-acc-button
  .wpr-toggle-icon
  svg {
  fill: #333;
  width: 15px;
}

.elementor-1086
  .elementor-element.elementor-element-42dbd7d
  .wpr-advanced-accordion
  .wpr-acc-button
  .wpr-acc-icon-box {
  background-color: #605be4;
}

.elementor-1086
  .elementor-element.elementor-element-42dbd7d
  .wpr-advanced-accordion
  .wpr-toggle-icon
  i {
  transition: all 0.3s ease-in-out;
}

.elementor-1086
  .elementor-element.elementor-element-42dbd7d
  .wpr-advanced-accordion
  .wpr-title-icon
  i {
  transition: all 0.3s ease-in-out;
}

.elementor-1086
  .elementor-element.elementor-element-42dbd7d
  .wpr-advanced-accordion
  .wpr-toggle-icon
  svg {
  transition: all 0.3s ease-in-out;
}

.elementor-1086
  .elementor-element.elementor-element-42dbd7d
  .wpr-advanced-accordion
  .wpr-title-icon
  svg {
  transition: all 0.3s ease-in-out;
}

.elementor-1086
  .elementor-element.elementor-element-42dbd7d.wpr-advanced-accordion-icon-side-box
  .wpr-advanced-accordion
  .wpr-acc-icon-box {
  border-radius: 0 0 0 0;
}

.elementor-1086
  .elementor-element.elementor-element-42dbd7d.wpr-advanced-accordion-icon-side-curve
  .wpr-advanced-accordion
  .wpr-acc-icon-box {
  border-radius: 0 0 0 0;
}

.elementor-1086
  .elementor-element.elementor-element-42dbd7d
  .wpr-advanced-accordion
  .wpr-acc-panel
  .wpr-acc-panel-content {
  color: #7a7a7a;
}

.elementor-1086
  .elementor-element.elementor-element-42dbd7d
  .wpr-advanced-accordion
  .wpr-acc-panel {
  background-color: #fff;
  border-color: #e8e8e8;
  padding: 25px;
  border-style: solid;
  border-width: 1px;
  border-radius: 0 0 0 0;
}
