.elementor-1067
  .elementor-element.elementor-element-c407041:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1067
  .elementor-element.elementor-element-c407041
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(91deg, #343f5a 0%, #3d4863 100%);
}
.elementor-1067 .elementor-element.elementor-element-c407041 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 100px 0 80px;
}
.elementor-1067
  .elementor-element.elementor-element-c407041
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1067 .elementor-element.elementor-element-91f96da {
  text-align: center;
}
.elementor-1067 .elementor-element.elementor-element-91f96da .wpr-logo {
  padding: 0;
  border-radius: 0 0 0 0;
}
.elementor-1067 .elementor-element.elementor-element-91f96da .wpr-logo-image {
  max-width: 92px;
}
.elementor-1067
  .elementor-element.elementor-element-91f96da.wpr-logo-position-left
  .wpr-logo-image {
  margin-right: 0;
}
.elementor-1067
  .elementor-element.elementor-element-91f96da.wpr-logo-position-right
  .wpr-logo-image {
  margin-left: 0;
}
.elementor-1067
  .elementor-element.elementor-element-91f96da.wpr-logo-position-center
  .wpr-logo-image {
  margin-bottom: 0;
}
.elementor-1067
  .elementor-element.elementor-element-91f96da
  .wpr-logo-image
  img {
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
.elementor-1067 .elementor-element.elementor-element-91f96da .wpr-logo-title {
  color: #605be5;
  margin: 0 0 0;
}
.elementor-1067
  .elementor-element.elementor-element-91f96da
  .wpr-logo-description {
  color: #888;
}
.elementor-1067 .elementor-element.elementor-element-830aeba {
  color: #d5d5d5;
  font-family: red hat display, Sans-serif;
  font-size: 17px;
  font-weight: 400;
}
.elementor-1067 .elementor-element.elementor-element-9d74a31 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 15px;
  --grid-column-gap: 9px;
  --grid-row-gap: 0px;
}
.elementor-1067
  .elementor-element.elementor-element-9d74a31
  .elementor-widget-container {
  text-align: center;
}
.elementor-1067
  .elementor-element.elementor-element-9d74a31
  .elementor-social-icon {
  background-color: #02010100;
  --icon-padding: 0.5em;
  border-style: solid;
  border-width: 1px;
  border-color: #7e8b9e;
}
.elementor-1067
  .elementor-element.elementor-element-9d74a31
  .elementor-social-icon
  i {
  color: #7e8b9e;
}
.elementor-1067
  .elementor-element.elementor-element-9d74a31
  .elementor-social-icon
  svg {
  fill: #7e8b9e;
}
.elementor-1067
  .elementor-element.elementor-element-9d74a31
  .elementor-social-icon:hover
  i {
  color: #fff;
}
.elementor-1067
  .elementor-element.elementor-element-9d74a31
  .elementor-social-icon:hover
  svg {
  fill: #fff;
}
.elementor-1067
  .elementor-element.elementor-element-9d74a31
  .elementor-social-icon:hover {
  border-color: #fff;
}
.elementor-1067 .elementor-element.elementor-element-444badc {
  text-align: left;
}
.elementor-1067
  .elementor-element.elementor-element-444badc
  .elementor-heading-title {
  color: #fff;
  font-family: poppins, Sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.elementor-1067 .elementor-element.elementor-element-70b5601 {
  text-align: left;
}
.elementor-1067
  .elementor-element.elementor-element-70b5601
  .elementor-heading-title {
  color: #d8d8d8;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-1067
  .elementor-element.elementor-element-70b5601
  > .elementor-widget-container {
  margin: -7px 0 0;
}
.elementor-1067 .elementor-element.elementor-element-34daba0 {
  text-align: left;
}
.elementor-1067
  .elementor-element.elementor-element-34daba0
  .elementor-heading-title {
  color: #d8d8d8;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-1067
  .elementor-element.elementor-element-34daba0
  > .elementor-widget-container {
  margin: -7px 0 0;
}
.elementor-1067 .elementor-element.elementor-element-97b0c3a {
  text-align: left;
}
.elementor-1067
  .elementor-element.elementor-element-97b0c3a
  .elementor-heading-title {
  color: #d8d8d8;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-1067
  .elementor-element.elementor-element-97b0c3a
  > .elementor-widget-container {
  margin: -7px 0 0;
}
.elementor-1067 .elementor-element.elementor-element-7b2a2bb {
  text-align: left;
}
.elementor-1067
  .elementor-element.elementor-element-7b2a2bb
  .elementor-heading-title {
  color: #d8d8d8;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-1067
  .elementor-element.elementor-element-7b2a2bb
  > .elementor-widget-container {
  margin: -7px 0 0;
}
.elementor-1067 .elementor-element.elementor-element-e559f21 {
  text-align: left;
}
.elementor-1067
  .elementor-element.elementor-element-e559f21
  .elementor-heading-title {
  color: #d8d8d8;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-1067
  .elementor-element.elementor-element-e559f21
  > .elementor-widget-container {
  margin: -7px 0 0;
}
.elementor-1067 .elementor-element.elementor-element-86a15c2 {
  text-align: left;
}
.elementor-1067
  .elementor-element.elementor-element-86a15c2
  .elementor-heading-title {
  color: #fff;
  font-family: poppins, Sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.elementor-1067 .elementor-element.elementor-element-3d23879 {
  text-align: left;
}
.elementor-1067
  .elementor-element.elementor-element-3d23879
  .elementor-heading-title {
  color: #d8d8d8;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-1067
  .elementor-element.elementor-element-3d23879
  > .elementor-widget-container {
  margin: -7px 0 0;
}
.elementor-1067 .elementor-element.elementor-element-05742d7 {
  text-align: left;
}
.elementor-1067
  .elementor-element.elementor-element-05742d7
  .elementor-heading-title {
  color: #d8d8d8;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-1067
  .elementor-element.elementor-element-05742d7
  > .elementor-widget-container {
  margin: -7px 0 0;
}
.elementor-1067 .elementor-element.elementor-element-8d6c676 {
  text-align: left;
}
.elementor-1067
  .elementor-element.elementor-element-8d6c676
  .elementor-heading-title {
  color: #d8d8d8;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-1067
  .elementor-element.elementor-element-8d6c676
  > .elementor-widget-container {
  margin: -7px 0 0;
}
.elementor-1067 .elementor-element.elementor-element-ab26764 {
  text-align: left;
}
.elementor-1067
  .elementor-element.elementor-element-ab26764
  .elementor-heading-title {
  color: #d8d8d8;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-1067
  .elementor-element.elementor-element-ab26764
  > .elementor-widget-container {
  margin: -7px 0 0;
}
.elementor-1067 .elementor-element.elementor-element-c447adc {
  text-align: left;
}
.elementor-1067
  .elementor-element.elementor-element-c447adc
  .elementor-heading-title {
  color: #d8d8d8;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-1067
  .elementor-element.elementor-element-c447adc
  > .elementor-widget-container {
  margin: -7px 0 0;
}
.elementor-1067 .elementor-element.elementor-element-eb9db84 {
  text-align: left;
}
.elementor-1067
  .elementor-element.elementor-element-eb9db84
  .elementor-heading-title {
  color: #fff;
  font-family: poppins, Sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.elementor-1067 .elementor-element.elementor-element-3f76b9b {
  text-align: left;
}
.elementor-1067
  .elementor-element.elementor-element-3f76b9b
  .elementor-heading-title {
  color: #d8d8d8;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-1067
  .elementor-element.elementor-element-3f76b9b
  > .elementor-widget-container {
  margin: -7px 0 0;
}
.elementor-1067 .elementor-element.elementor-element-da729c1 {
  text-align: left;
}
.elementor-1067
  .elementor-element.elementor-element-da729c1
  .elementor-heading-title {
  color: #d8d8d8;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-1067
  .elementor-element.elementor-element-da729c1
  > .elementor-widget-container {
  margin: -7px 0 0;
}
.elementor-1067 .elementor-element.elementor-element-087749d {
  text-align: left;
}
.elementor-1067
  .elementor-element.elementor-element-087749d
  .elementor-heading-title {
  color: #d8d8d8;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-1067
  .elementor-element.elementor-element-087749d
  > .elementor-widget-container {
  margin: -7px 0 0;
}
.elementor-1067 .elementor-element.elementor-element-6573cd6 {
  text-align: left;
}
.elementor-1067
  .elementor-element.elementor-element-6573cd6
  .elementor-heading-title {
  color: #d8d8d8;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-1067
  .elementor-element.elementor-element-6573cd6
  > .elementor-widget-container {
  margin: -7px 0 0;
}
.elementor-1067 .elementor-element.elementor-element-fa746f2 {
  text-align: left;
}
.elementor-1067
  .elementor-element.elementor-element-fa746f2
  .elementor-heading-title {
  color: #d8d8d8;
  font-family: red hat display, Sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.elementor-1067
  .elementor-element.elementor-element-fa746f2
  > .elementor-widget-container {
  margin: -7px 0 0;
}
.elementor-1067 .elementor-element.elementor-element-6b8733e {
  --divider-border-style: solid;
  --divider-color: #434e68;
  --divider-border-width: 1px;
}
.elementor-1067
  .elementor-element.elementor-element-6b8733e
  .elementor-divider-separator {
  width: 100%;
}
.elementor-1067
  .elementor-element.elementor-element-6b8733e
  .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-1067 .elementor-element.elementor-element-a699386 {
  text-align: center;
  color: #a2a2a2;
  font-family: poppins, Sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.elementor-1067 .elementor-element.elementor-element-1880bb0 {
  margin-top: -1px;
  margin-bottom: 0;
}
.elementor-1067
  .elementor-element.elementor-element-34ff008.wpr-stt-btn-align-fixed-right
  .wpr-stt-btn {
  right: 10px;
  bottom: 41px;
}
.elementor-1067 .elementor-element.elementor-element-34ff008 .wpr-stt-content {
  color: #1085fa;
}
.elementor-1067 .elementor-element.elementor-element-34ff008 .wpr-stt-icon {
  color: #1085fa;
  font-size: 16px;
}
.elementor-1067 .elementor-element.elementor-element-34ff008 .wpr-stt-icon svg {
  fill: #1085fa;
  width: 16px;
  height: 16px;
}
.elementor-1067 .elementor-element.elementor-element-34ff008 .wpr-stt-btn {
  background-color: #6261ff00;
  border-color: #1085fa;
  box-shadow: 0 0 10px 0 transparent;
  transition: all 0.3s ease-in-out 0s;
  padding: 14px 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px 4px 4px 4px;
}
.elementor-1067
  .elementor-element.elementor-element-34ff008
  .wpr-stt-btn:hover
  > .wpr-stt-icon {
  color: #fff;
}
.elementor-1067
  .elementor-element.elementor-element-34ff008
  .wpr-stt-btn:hover {
  background-color: #1085fa;
  border-color: #1085fa;
}
.elementor-1067 .elementor-element.elementor-element-0b037cd {
  margin-top: -1px;
  margin-bottom: 0;
}
.elementor-1067
  .elementor-element.elementor-element-ccd6764.wpr-pc-btn-align-fixed-right
  .wpr-pc-btn {
  right: 9px;
  bottom: 98px;
}
.elementor-1067 .elementor-element.elementor-element-ccd6764 .wpr-pc-content {
  color: #1085fa;
}
.elementor-1067 .elementor-element.elementor-element-ccd6764 .wpr-pc-btn-icon {
  color: #1085fa;
  font-size: 16px;
}
.elementor-1067
  .elementor-element.elementor-element-ccd6764
  .wpr-pc-btn-icon
  svg {
  fill: #1085fa;
  width: 16px;
  height: 16px;
}
.elementor-1067 .elementor-element.elementor-element-ccd6764 .wpr-pc-btn {
  background-color: #6261ff00;
  border-color: #1085fa;
  box-shadow: 0 0 10px 0 transparent;
  transition: all 0.3s ease-in-out 0s;
  padding: 14px 15px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px 4px 4px 4px;
}
.elementor-1067
  .elementor-element.elementor-element-ccd6764
  .wpr-pc-btn:hover
  > .wpr-pc-btn-icon {
  color: #fff;
}
.elementor-1067 .elementor-element.elementor-element-ccd6764 .wpr-pc-btn:hover {
  background-color: #1085fa;
  border-color: #1085fa;
}
.elementor-1067
  .elementor-element.elementor-element-ccd6764
  > .elementor-widget-container {
  margin: -1px 0 0;
}
@media (max-width: 1024px) {
  .elementor-1067 .elementor-element.elementor-element-830aeba {
    font-size: 14px;
  }
  .elementor-1067
    .elementor-element.elementor-element-70b5601
    .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-1067
    .elementor-element.elementor-element-34daba0
    .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-1067
    .elementor-element.elementor-element-97b0c3a
    .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-1067
    .elementor-element.elementor-element-7b2a2bb
    .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-1067
    .elementor-element.elementor-element-e559f21
    .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-1067
    .elementor-element.elementor-element-3d23879
    .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-1067
    .elementor-element.elementor-element-05742d7
    .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-1067
    .elementor-element.elementor-element-8d6c676
    .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-1067
    .elementor-element.elementor-element-ab26764
    .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-1067
    .elementor-element.elementor-element-c447adc
    .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-1067
    .elementor-element.elementor-element-3f76b9b
    .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-1067
    .elementor-element.elementor-element-da729c1
    .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-1067
    .elementor-element.elementor-element-087749d
    .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-1067
    .elementor-element.elementor-element-6573cd6
    .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-1067
    .elementor-element.elementor-element-fa746f2
    .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-1067 .elementor-element.elementor-element-a699386 {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  .elementor-1067 .elementor-element.elementor-element-c088c3b {
    width: 34.643%;
  }
  .elementor-1067 .elementor-element.elementor-element-3e4a3a4 {
    width: 21.494%;
  }
  .elementor-1067 .elementor-element.elementor-element-75a1afd {
    width: 22.641%;
  }
  .elementor-1067 .elementor-element.elementor-element-0e598ec {
    width: 21.154%;
  }
}
@media (max-width: 767px) {
  .elementor-1067 .elementor-element.elementor-element-c088c3b {
    width: 50%;
  }
  .elementor-1067 .elementor-element.elementor-element-91f96da {
    text-align: center;
  }
  .elementor-1067 .elementor-element.elementor-element-91f96da .wpr-logo-image {
    max-width: 73px;
  }
  .elementor-1067 .elementor-element.elementor-element-9d74a31 {
    --icon-size: 12px;
    --grid-column-gap: 5px;
  }
  .elementor-1067 .elementor-element.elementor-element-3e4a3a4 {
    width: 50%;
  }
  .elementor-1067 .elementor-element.elementor-element-75a1afd {
    width: 50%;
  }
  .elementor-1067 .elementor-element.elementor-element-0e598ec {
    width: 50%;
  }
  .elementor-1067 .elementor-element.elementor-element-a699386 {
    text-align: center;
  }
  .elementor-1067
    .elementor-element.elementor-element-a699386
    > .elementor-widget-container {
    margin: -17px 0 0;
  }
}
